/* ///CONTACT PAGE/// */

html, body {
  background-color:lightblue;
  height: 100%;
}

.form-control, .form-group {
  color:black;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.formstyle {
  border-color: white;
  border-style: solid;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.text-area {
  background-color: white;
}

.linkedin {
  width: 50px;
  height: auto;
  border-color: white;
  border-style: solid;
}

.linkedincenter {
  display: flex;
  justify-items: center;
  align-items: center;
}

.thankyou {
  text-align: center;
  font-family:'Roboto', sans-serif;
  color: #324159;
  margin-top: 50px
}

/* ///PAGE BOTTOM/// */

.logoside {
  height: 50vw;
  display: flex;
  justify-items: center;
  margin:100px;
  opacity: 50%;
}

/* ///FOOTER/// */

footer {
  text-align: center;
  color: #c7c5cf;
  background-color:black;
}
#sticky-footer {
   flex-shrink: none;
}
