
html, body {
    background-color:lightblue;
    height: 100%;
}

#page-content {
    flex: 1 0 auto
}

    
/* ///NAVBAR/// */

/* personal navbar styling */
.myName {
    justify-content: center;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    color:#c7c5cf;
    padding-top: .6rem;
    padding-right: 2rem;
    white-space: nowrap;
    font-size: 30px;
    text-transform: uppercase;
}

.navbackground {
    background-color: #324159;
}

.logo {
    height: 50px;
    width: auto;
}

/* .myName size and padding settings small viewports*/
@media only screen and (max-device-width: 475px) {
    .myName {
        justify-content: center;
        align-items: center;
        font-family: 'Libre Franklin', sans-serif;
        text-align: center;
        text-shadow: 1px 1px 4px black;
        color:#c7c5cf;
        padding-top: .6rem;
        padding-right: 1.5rem;
        white-space: nowrap;
        font-size: 5vw;
        text-transform: uppercase;
    }
}

/* ///BIOAREA/// */

/* bio profile picture */
#biopic {
    position: relative;
    bottom: 100px;
    padding: none none;
    border-radius: 70px;
    /* width: 100%;
    height: auto;
    max-width: 350px;
    min-width: 225px; */
}
/* bio text */
section article p {
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 100px;
}

/* ///CONTACT PAGE/// */

.form-control, .form-group {
    color: #324159;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
 }

.formstyle {
    border-color: #982b34;
    border-style: solid;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.text-area {
    background-color: #dbdade;
}

.linkedin {
    width: 50px;
    height: auto;
    border-color: #324159;
    border-style: solid;
}

.linkedincenter {
    display: flex;
    justify-items: center;
    align-items: center;
}

.thankyou {
    text-align: center;
    font-family:'Roboto', sans-serif;
    color: #324159;
    margin-top: 50px
}

/* ///PAGE BOTTOM/// */

.logoside {
    height: 50vw;
    display: flex;
    justify-items: center;
    margin:100px;
    opacity: 50%;
}

/* ///FOOTER/// */

footer {
    text-align: center;
    color: #c7c5cf;
    background-color:black;
}
 #sticky-footer {
     flex-shrink: none;
 }



